.now-available{text-align:center; color:#fff!important; font-weight:800;}
.o-new-width{max-width: 600px; margin:0px auto; padding: 1em 0 0 0;}
.o-spend-text{color: #fff; font-size:1.7em}
.o-bobuy-text{color: #fff; font-size:1.3em}
.o-flex-height{min-height:415px;}
.o-hide{display:none!important;}
.o-max-width{max-width:400px}
.o-h-email{text-align:center;margin:0 auto; display:block; color:#FFCD02; font-size:1.5em;}
.o-faq-p{color:#000;}
.o-faq-p-m{color:#000; margin-left:1em;}