<!--
NOTE: FOOTER TEMPLATE FILE

This file is intended to be pasted into the bottom of every webpage we use.
It contains the footer code, which has a lot of information and links for users.

Include the contents of this whole entire file in every webpage.
-->

<div class="footer">
        <div class="container-3 w-container">
          <div class="row w-row">
            <div class="contact w-col w-col-3">
              <div class="footertitle"><strong>Contact Us</strong></div>
              <div class="text-block-14">
                Email: <a href="mailto:info@bo-buy.com" class="link-style">info@bo-buy.com</a>‍<br>
                Location: <a href="https://www.google.com/maps/place/BoBuy/@22.285232,114.1570713,17z/data=!3m1!4b1!4m5!3m4!1s0x34040063ac155d57:0x1fa09c0e1b69f305!8m2!3d22.285232!4d114.15926" class="link-style">19/F. Two IFC,<br>8 Finance St, Central, Hong Kong</a>
              </div>
            </div>
            <div class="company w-col w-col-2">
              <div class="footertitle"><strong>Company</strong></div>
              <div class="text-block-15">
                <a href="about_us.html" class="link-style">‍About Us</a><br>
                <a href="faq.html" class="link-style">‍FAQ</a><br>
                <a href="contact_us.html" class="link-style">Contact Us</a><br>
                <a href="careers/index.html" class="link-style">‍Careers</a>
              </div>
            </div>
            <div class="community w-col w-col-2 social-ul">
              <div class="footertitle"><strong>Community</strong></div>
              <div class="text-block-6"><a href="blog/index.html" class="link-style">Blog</a></div>
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/BoBuyapp/?ref=page_internal" title="Facebook" target="_blank" class="facebook" onclick="return trackOutboundLink('https://www.facebook.com/BoBuyapp/?ref=page_internal', true); return false;"><i class="fab fa-facebook-f" aria-hidden="true"></i><span class="hide">hide</span></a></li>
        <li><a href="https://www.instagram.com/bobuyhkg" title="Instagram" class="instagram" target="_blank" onclick="return trackOutboundLink('https://www.instagram.com/bobuyhkg', true); return false;"><i class="fab fa-instagram" aria-hidden="true"></i><span class="hide">hide</span></a></li>
        <br>
        <li><a style="margin-top:5px" href="https://www.youtube.com/channel/UCM-pUwp0IMMXcDh4BElTCcg" title="Youtube" class="youtube" target="_blank" onclick="return trackOutboundLink('https://www.youtube.com/channel/UCM-pUwp0IMMXcDh4BElTCcg', true); return false;"><i class="fab fa-youtube" aria-hidden="true"></i><span class="hide">hide</span></a></li>
        <li><a style="margin-top:5px" href="https://www.linkedin.com/company/bobuy/" title="LinkedIn" class="linkedin" target="_blank" onclick="return trackOutboundLink('https://www.linkedin.com/company/bobuy/', true); return false;"><i class="fab fa-linkedin-in" aria-hidden="true"></i><span class="hide">hide</span></a></li>
              </ul>
            </div>
            <div class="column-3 w-col w-col-2">
              <div class="footertitle"><strong>Payment Methods</strong></div><img src="./images/Payment.png" alt="Payment Methods" title="Payment"></div>
            <div class="column-4 w-col w-col-3">
              <div class="div-block-9">
                <a href="https://itunes.apple.com/us/app/bobuy/id1246651862?ls=1&mt=8"><img src="images/AppStore.png" alt="App Store Download button" title="App Store Download" class="image-8"></a>
                <a href="https://play.google.com/store/apps/details?id=com.bobuy"><img src="images/GooglePlay.png" height="45" alt="Google Play Download button" title="Google Play Download" class="image-9"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="text-block-7"><a href="privacy_policy.html" class="link-style">‍Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="terms_and_conditions.html" class="link-style">‍Terms and Conditions</a><br><br>© 2019 BoBuy™ All Rights Reserved</div>
          </div>
        </div>
      </div>
    
    
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
      <script src="./js/webflow.js" type="text/javascript" defer></script>
      
      <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
      <style>
        .product_showcase::-webkit-scrollbar { 
            display: none; 
        }
      </style>
    
    </body>
    </html>